.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 24px;
    background-position: center;
    background-size: cover;
    background-color: black;

        .home__title {
            text-align: center;
            line-height: 52px;
            color: white;
            font-size: 42px;
            font-family: Saira, sans-serif;
            font-weight: 400;

        }

        .home__timer-image {
            width: 70%;
            height: auto;
        }

        .home__button {
            width: 186px;
            height: 51px;
            flex-shrink: 0;
            border-radius: 8px;
            text-decoration: none;
            color: black;
            font-size: 20px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
            cursor: pointer;
            border-radius: 40.5px;
            opacity: 0.8;
            background: linear-gradient(98deg, #E0FF01 8.5%, #FAFF00 128.01%);
            font-family: Saira, sans-serif;
            line-height: 140%;
            &:hover {
                background: #218838;
              }
        
        }
}
