.exercise-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &__info {
    flex-grow: 1;

    h3 {
      font-size: 18px;
      color: #333;
      margin: 0 0 8px 0;
    }

    p {
      font-size: 14px;
      color: #666;
    }
  }

  &:hover {
    box-shadow: 0 4px 8px rgba(var(--color-secondary), 0.2);
  }

  &.selected {
    background-color: var(--color-background-light);
  }
}
@media (min-width: 768px) {
  .exercise-card {
    // Ajustements pour les tablettes
    flex-direction: row;
    align-items: center;
    
    h3 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (min-width: 1024px) {
  .exercise-card {
    // Ajustements pour les ordinateurs de bureau
    h3 {
      font-size: 22px;
    }
  }
}
