.exercise-card {
  background: var(--color-background-light);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 6px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  width: 100%;
  &__info-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
  }

  &__difficulty {
    .MuiSvgIcon-root {
      font-size: 1.3rem;
    }
  }

  &__info {
    flex-grow: 1;
    padding: 2px 18px;

    h4 {
      font-size: 16px;
      line-height: 0;
      color: var(--color-text);
    }
  }

    &.selected {
      background: var(--blue-gradient);
    }

  &:hover {
    box-shadow: 0 4px 8px rgba(var(--color-primary), 0.2);
  }

  &.selected {
    background-color: var(--color-warning);
  }

  .MuiSvgIcon-root {
    color: var(--color-accent);
    // ...
  }
}

@media (min-width: 768px) {
  .exercise-card {
    flex-direction: row;
    align-items: center;
    
    h3 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (min-width: 1024px) {
  .exercise-card {
    h3 {
      font-size: 22px;
    }
  }
}
