.exercise-form {
    margin-top: 20px;
}

h2 {
    text-align: center;
  }
  
input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  button {
    display: block;
    background-color: #28a745; /* green */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    
    &:hover {
      background-color: #218838; /* darker green */
    }
  }