.timer-form {
  // display: flex;
  // flex-direction: column;
  
  .MuiFormControl-root {

    .MuiOutlinedInput-root {
      position: relative;
      font-family: 'Poppins', sans-serif;

      .MuiInputAdornment-root {
        position: absolute;
        right: 0;
        top: 50%;
        bottom: 0;
        display: flex;
        align-items: center;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;

        .MuiSelect-root {
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
        }
      }

      .MuiSelect-icon {
        display: none;
      }
    }

    .MuiInputLabel-root {
      background-color: #fff;
      padding: 4px;
      font-family: 'Poppins', sans-serif;
      font-size: .8rem;
    }

    .MuiInputBase-input {
      padding-right: 60px; // Espace pour le sélecteur
      
    }
    .Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #92A3FD;
    }
  }
}
