.timer-form {
  display: flex;
  flex-direction: column;

  .MuiFormControl-root {
    margin-bottom: 16px;

    .MuiOutlinedInput-root {
      position: relative;
      width: 100%;

      .MuiInputAdornment-root {
        position: absolute;
        right: 0;
        top: 50%;
        bottom: 0;
        display: flex;
        align-items: center;
        background-color: #5cb85c;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;
        // width: 7px;

        &:hover {
          background-color: #4cae4c;
        }

        .MuiSelect-root {
          padding: 0;
          height: 100%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }
      }

      .MuiSelect-icon {
        display: none;
      }
    }

    .MuiInputLabel-root {
      background-color: #fff;
      padding: 0 4px;
    }

    .MuiInputBase-input {
      padding-right: 60px; // Espace pour le sélecteur
    }
  }
}
